<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.lockscreen"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <application
        android:name=".activity.HomeApplicaiton"
        android:allowBackup="true"
        android:icon="@mipmap/lock2"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <!-- android:excludeFromRecents="true" -->
            <!--<data android:host="LockActivity" android:scheme="com.example.lockscreen.activity" />-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 锁屏的服务 -->
        <service
            android:name=".service.LockService"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="service.LockService.action" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </service>
        <!-- 透明的Activity -->
        <activity
            android:name=".activity.LucencyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <receiver android:name=".broadcast.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.BindService"
            android:exported="true"
            android:process=":remote" />
        <!-- android:permission="android.permission.BIND_DEVICE_ADMIN" -->
        <!--
        <receiver android:name=".broadcast.MydeviceReceiver"
            >
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        -->
        <receiver android:name=".broadcast.ForceStopReceiver">
            <intent-filter>
                <action android:name="android.forcestop.action" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".activity.FistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <receiver android:name=".broadcast.MydeviceReceiver"
            android:description="@string/description"
            android:label="forbid uninstall"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>